<%- include('partials/header'); -%>

<form action="">
    <h1>Sign up</h1>
    <label for="email">Email</label>
    <input type="text" name="email" id="email" required/>
    <div class="email error"></div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required/>
    <div class="password error"></div>
    <button>Sign up</button>
</form>

<%- include('partials/footer'); -%>
